/* Style the top navigation bar */
.navbar {
    display: flex;
    background-color: rgb(45, 89, 136);
    font-family: "Funkhouse";
}

/* Style the navigation bar links */
.navbar a {
    font-family: "Funkhouse";
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

/* Change color on hover */
.navbar a:hover {
    font-family: "Funkhouse";
    background-color: rgb(255, 255, 255);
    color: rgb(88, 164, 245);
}

body {
    font-family: "Funkhouse";
    color: white;
    background-color: rgb(88, 164, 245);
    text-align: center;
}

.banner {
    font-family: "Funkhouse";
    background-color: rgb(88, 164, 245);
    text-align: center;
}

h1,
h2 {
    font-family: "Funkhouse";
    color: rgb(255, 255, 255);
    margin-top: 0;
}

.subpage-link {
    font-family: "Funkhouse";
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

#me img {
    margin-left: center;
    margin-right: center;
    display: block;
}


p {
    text-align: justify;
    animation-duration: 3s;
    animation-name: slidein;
    text-shadow: rgb(88, 164, 245);;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: grey inset 5px;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

.shimmer {
    background: #94c0eb;
    background-image: linear-gradient(to right, #94c0eb 0%, #a8d4ff 20%, #94c0eb 40%, #94c0eb 100%);
    background-repeat: no-repeat
}